{% extends "layouts/base.html" %}
{% load custom_filters %}

{% block title %} Dashboard {% endblock %} 

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <!-- [ Main Content ] start -->
    <div class="pcoded-main-container">
        <div class="pcoded-wrapper">

            <div class="pcoded-content">
                <div class="pcoded-inner-content">
                    <!-- [ breadcrumb ] start -->

                    <!-- [ breadcrumb ] end -->
                    <div class="main-body">
                        <div class="page-wrapper">
                            <!-- [ Main Content ] start -->
                            <div class="row">
                                <div class="col-md-6 col-xl-2">
                                    <div class="card daily-sales">
                                        <div class="card-block">
                                            <h6 class="mb-2">Danceability</h6>
                                            <div class="row d-flex align-items-center">
                                                <div class="col-8">
                                                    <h3 class="f-w-300 d-flex align-items-center m-b-0">{{ danceability|floatformat }}%</h3>
                                                </div>
                                            </div>
                                            <div class="progress m-t-30" style="height: 7px;">
                                                <div class="progress-bar progress-c-theme" role="progressbar"
                                                        style="width: {{ danceability }}%;" aria-valuenow="{{ danceability }}" aria-valuemin="0"
                                                        aria-valuemax="100"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 col-xl-2">
                                    <div class="card daily-sales">
                                        <div class="card-block">
                                            <h6 class="mb-2">Energy</h6>
                                            <div class="row d-flex align-items-center">
                                                <div class="col-8">
                                                    <h3 class="f-w-300 d-flex align-items-center m-b-0">{{ energy|floatformat }}%</h3>
                                                </div>
                                            </div>
                                            <div class="progress m-t-30" style="height: 7px;">
                                                <div class="progress-bar progress-c-theme" role="progressbar"
                                                        style="width: {{ energy }}%;" aria-valuenow="{{ energy }}" aria-valuemin="0"
                                                        aria-valuemax="100"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 col-xl-2">
                                    <div class="card daily-sales">
                                        <div class="card-block">
                                            <h6 class="mb-2">Loudness</h6>
                                            <div class="row d-flex align-items-center">
                                                <div class="col-8">
                                                    <h3 class="f-w-300 d-flex align-items-center m-b-0">{{ loudness|floatformat }} db</h3>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 col-xl-2">
                                    <div class="card daily-sales">
                                        <div class="card-block">
                                            <h6 class="mb-2">Speechiness</h6>
                                            <div class="row d-flex align-items-center">
                                                <div class="col-8">
                                                    <h3 class="f-w-300 d-flex align-items-center m-b-0">{{ speechiness|floatformat }}%</h3>
                                                </div>
                                            </div>
                                            <div class="progress m-t-30" style="height: 7px;">
                                                <div class="progress-bar progress-c-theme" role="progressbar"
                                                        style="width: {{ speechiness }}%;" aria-valuenow="{{ speechiness }}" aria-valuemin="0"
                                                        aria-valuemax="100"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 col-xl-2">
                                    <div class="card daily-sales">
                                        <div class="card-block">
                                            <h6 class="mb-2">Acousticness</h6>
                                            <div class="row d-flex align-items-center">
                                                <div class="col-8">
                                                    <h3 class="f-w-300 d-flex align-items-center m-b-0">{{ acousticness|floatformat }}%</h3>
                                                </div>
                                            </div>
                                            <div class="progress m-t-30" style="height: 7px;">
                                                <div class="progress-bar progress-c-theme" role="progressbar"
                                                        style="width: {{ acousticness }}%;" aria-valuenow="{{ acousticness }}" aria-valuemin="0"
                                                        aria-valuemax="100"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 col-xl-2">
                                    <div class="card daily-sales">
                                        <div class="card-block">
                                            <h6 class="mb-2">Instrumentalness</h6>
                                            <div class="row d-flex align-items-center">
                                                <div class="col-8">
                                                    <h3 class="f-w-300 d-flex align-items-center m-b-0">{{ instrumentalness|floatformat }}%</h3>
                                                </div>
                                            </div>
                                            <div class="progress m-t-30" style="height: 7px;">
                                                <div class="progress-bar progress-c-theme" role="progressbar"
                                                        style="width: {{ instrumentalness }}%;" aria-valuenow="{{ instrumentalness|floatformat }}" aria-valuemin="0"
                                                        aria-valuemax="100"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 col-xl-2">
                                    <div class="card daily-sales">
                                        <div class="card-block">
                                            <h6 class="mb-2">Liveness</h6>
                                            <div class="row d-flex align-items-center">
                                                <div class="col-8">
                                                    <h3 class="f-w-300 d-flex align-items-center m-b-0">{{ liveness|floatformat }}%</h3>
                                                </div>
                                            </div>
                                            <div class="progress m-t-30" style="height: 7px;">
                                                <div class="progress-bar progress-c-theme" role="progressbar"
                                                        style="width: {{ liveness }}%;" aria-valuenow="{{ liveness }}" aria-valuemin="0"
                                                        aria-valuemax="100"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 col-xl-2">
                                    <div class="card daily-sales">
                                        <div class="card-block">
                                            <h6 class="mb-2">Valence</h6>
                                            <div class="row d-flex align-items-center">
                                                <div class="col-8">
                                                    <h3 class="f-w-300 d-flex align-items-center m-b-0">{{ valence|floatformat }}%</h3>
                                                </div>
                                            </div>
                                            <div class="progress m-t-30" style="height: 7px;">
                                                <div class="progress-bar progress-c-theme" role="progressbar"
                                                        style="width: {{ valence }}%;" aria-valuenow="{{ valence }}" aria-valuemin="0"
                                                        aria-valuemax="100"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 col-xl-2">
                                    <div class="card daily-sales">
                                        <div class="card-block">
                                            <h6 class="mb-2">Popularity</h6>
                                            <div class="row d-flex align-items-center">
                                                <div class="col-8">
                                                    <h3 class="f-w-300 d-flex align-items-center m-b-0">{{ popularity|floatformat }}%</h3>
                                                </div>
                                            </div>
                                            <div class="progress m-t-30" style="height: 7px;">
                                                <div class="progress-bar progress-c-theme" role="progressbar"
                                                        style="width: {{ popularity }}%;" aria-valuenow="{{ popularity }}" aria-valuemin="0"
                                                        aria-valuemax="100"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 col-xl-2">
                                    <div class="card daily-sales">
                                        <div class="card-block">
                                            <h6 class="mb-2">Tempo</h6>
                                            <div class="row d-flex align-items-center">
                                                <div class="col-8">
                                                    <h3 class="f-w-300 d-flex align-items-center m-b-0">{{ tempo|floatformat }} BPM</h3>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                {% for playlist in playlists %}
                                    <div class="col-xl-12">
                                        <div class="card">
                                            <div class="card-header">
                                                <h5>{{ playlist.name }}</h5>
                                            </div>
                                            <div class="card-block table-border-style">
                                                <div class="table-responsive">
                                                    <table class="table table-hover">
                                                        <thead>
                                                            <tr>
                                                                <th></th>
                                                                <th>Song</th>
                                                                <th>Length</th>
                                                                <th>Danceability</th>
                                                                <th>Energy</th>
                                                                <th>Tempo</th>
                                                                <th>Popularity</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            {% for song in playlist.songs.all %}
                                                                <tr>
                                                                    <th scope="row"><img src="{{ song.cover }}" height="30" width="30"></img></th>
                                                                    <td>
                                                                        {{ song.title }} by 
                                                                        {% for artist in song.artists.all %}
                                                                            {% if not forloop.first %}, {% endif %}
                                                                            {{ artist.name }}
                                                                        {% endfor %}
                                                                    </td>
                                                                    <td>{{ song.duration_ms|milliseconds_to_mmss }}</td>
                                                                    <td>{{ song.danceability|multiply:100|floatformat }}%</td>
                                                                    <td>{{ song.energy|multiply:100|floatformat }}%</td>
                                                                    <td>{{ song.tempo }} BPM</td>
                                                                    <td>{{ song.popularity }}%</td>
                                                                </tr>
                                                            {% endfor %}
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                                <div class="col-md-6 col-xl-2">
                                    <div class="card daily-sales">
                                        <div class="card-block">
                                            <h6 class="mb-2">Users</h6>
                                            <div class="row d-flex align-items-center">
                                                <div class="col-8">
                                                    <h3 class="f-w-300 d-flex align-items-center m-b-0">{{ party.users.all|length}}</h3>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 col-xl-2">
                                    <div class="card daily-sales">
                                        <div class="card-block">
                                            <h6 class="mb-2">Songs from Users</h6>
                                            <div class="row d-flex align-items-center">
                                                <div class="col-8">
                                                    <h3 class="f-w-300 d-flex align-items-center m-b-0">{{ party.songs_from_users.all|length}}</h3>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 col-xl-2">
                                    <div class="card daily-sales">
                                        <div class="card-block">
                                            <h6 class="mb-2">Filtered by blacklist</h6>
                                            <div class="row d-flex align-items-center">
                                                <div class="col-8">
                                                    <h3 class="f-w-300 d-flex align-items-center m-b-0"> {{ filtered_by_blacklist }}</h3>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- [ Main Content ] end -->
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <!-- [ Main Content ] end -->            

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
